body{
	margin: 0;
	text-align: center;
	padding: 0;	
}
h1{
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
}
h2{
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 30px;
	height: 38%;
}
p{
	font-size: 14px;
	font-family: "Droid Serif", sans-serif;
	line-height: 20px;
}
a{
	font-family: "Raleway", sans-serif;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1px;
	color: white;
	text-decoration: none;
	margin: 0px 20px 0px 20px;
	border-bottom: 2px solid transparent;
}
header{
	background-color: #F15B31;
	padding: 30px 20px;
}

nav{
	background-color: #00A6B3;
	padding: 20px 0px 20px 0px;

}
a:hover {
	border-color: white;
}
img{
	margin: 40px 8px 0px 8px;
}
main{
	width: 850px;
	margin: 35px auto;
	min-height: calc(100vh - 310px);
}
footer{
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	overflow: hidden;
}
.copyright{
	font-family: "Raleway", sans-serif;
	float: left;
}
.message{
	font-family: "Raleway", sans-serif;
	float: right;
}
.name{
	color: #F15B31;
	font-weight: 700;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}